.vscode/settings.json
posicionamento/2-puro-grid-flexbox-bootstrap-1.zip
posicionamento/.DS_Store
2-puro-grid-flexbox-bootstrap-1/2-1-brafe-1-puro-html-1_arquivos/brafe-1.psd
2-puro-grid-flexbox-bootstrap-1/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-1-brafe-1-puro-html-1_arquivos/brafe-1-puro/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/index.html
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-10-brafe-1-puro-responsivo-2_arquivos/brafe-1-puro/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/index.html
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-estrutura/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/index.html
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/css/grid.css
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-11-brafe-1-grid_arquivos/brafe-1-grid/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/index.html
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/css/grid.css
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-12-brafe-1-grid-responsivo_arquivos/brafe-1-grid/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/index.html
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/css/grid.css
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-13-brafe-1-grid-html_arquivos/brafe-1-grid/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/index.html
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/css/grid.css
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-14-brafe-1-grid-menu_arquivos/brafe-1-grid/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/index.html
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/css/grid.css
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-15-brafe-1-grid-produtos_arquivos/brafe-1-grid/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/index.html
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/css/grid.css
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-16-brafe-1-grid-locais_arquivos/brafe-1-grid/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-17-brafe-1-flexbox-introducao-1_arquivos/flexbox-introducao/flexbox.css
2-puro-grid-flexbox-bootstrap-1/2-17-brafe-1-flexbox-introducao-1_arquivos/flexbox-introducao/index.html
2-puro-grid-flexbox-bootstrap-1/2-18-brafe-1-flexbox-introducao-2_arquivos/flexbox-introducao/flexbox.css
2-puro-grid-flexbox-bootstrap-1/2-18-brafe-1-flexbox-introducao-2_arquivos/flexbox-introducao/index.html
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/index.html
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-final/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/index.html
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-19-brafe-1-flexbox-menu_arquivos/brafe-1-flexbox-inicio/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/index.html
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-2-brafe-1-puro-html-2_arquivos/brafe-1-puro/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/index.html
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-20-brafe-1-flexbox-produtos_arquivos/brafe-1-flexbox/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/index.html
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-21-brafe-1-flexbox-footer_arquivos/brafe-1-flexbox/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/index.html
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-22-brafe-1-flexbox-responsivo_arquivos/brafe-1-flexbox/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/bootstrap-4.0.0-alpha.6-dist.zip
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/index.html
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-23-brafe-1-bootstrap_arquivos/brafe-1-bootstrap/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/index.html
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/css/bootstrap.min.css
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-24-brafe-1-bootstrap-html_arquivos/brafe-1-bootstrap/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/index.html
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/css/bootstrap.min.css
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-25-brafe-1-bootstrap-introducao_arquivos/brafe-1-bootstrap/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/index.html
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/css/bootstrap.min.css
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-26-brafe-1-bootstrap-produtos_arquivos/brafe-1-bootstrap/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/index.html
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/css/bootstrap.min.css
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-27-brafe-1-bootstrap-footer_arquivos/brafe-1-bootstrap/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/index.html
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-3-brafe-1-puro-menu_arquivos/brafe-1-puro/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/index.html
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-5-brafe-1-puro-sobre_arquivos/brafe-1-puro/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/index.html
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-6-brafe-1-puro-produtos_arquivos/brafe-1-puro/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/index.html
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-8-brafe-1-puro-footer_arquivos/brafe-1-puro/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/index.html
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/css/style.css
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/img/bg-intro.jpg
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/img/botafogo.jpg
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/img/brafe.png
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/img/cafe-1.jpg
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/img/cafe-2.jpg
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/img/iguatemi.jpg
2-puro-grid-flexbox-bootstrap-1/2-9-brafe-1-puro-responsivo-1_arquivos/brafe-1-puro/img/mineirao.jpg
2-puro-grid-flexbox-bootstrap-1.zip
.DS_Store
